{{#tile class="ugc-tile-wrapper" }}
<div class="image-section">
    <div class="center-section">
        {{#ifequals media "video"}}
        <div class="icon-play"></div>
        {{/ifequals}}
    </div>
    <shopspot-icon tile-id="{{id}}"></shopspot-icon>
    {{#lazy image_thumbnail_url "120"}}{{/lazy}}
</div>
<div class="details-section">
    <div class="tile-message-wrapper">
        <tile-content tileId="{{id}}" mode="dark" context="slider-inline" render-timephrase="false"
            render-share-menu="false" trim-description="true"></tile-content>
        <div class="tile">
            <tile-tags tile-id="{{id}}" />
        </div>
        <div class="footer">
            <time-phrase source-created-at="{{source_created_at}}"></time-phrase>
            <share-menu tile-id="{{id}}"></ShareMenu>
        </div>
    </div>
</div>
<div class="icon-section">
    {{#each attrs}}
    {{#ifequals this "instagram.reel"}}
    <div class="content-icon icon-reel"></div>
    {{/ifequals}}
    {{#ifequals this "youtube.short"}}
    <div class="content-icon icon-youtube-short"></div>
    {{/ifequals}}
    {{/each}}
    <div class="network-icon icon-{{source}}"></div>
    {{#if tags_extended.length}}
    <div class="shopping-icon icon-products"></div>
    {{/if}}
</div>
{{/tile}}