{{#ifEquals media "image"}}
<div class="ugc-tile-wrapper tile-{{media}}">
    <div class="tile-img">
        <div class="network-icon icon-{{source}}"></div>
        <img src="{{image_thumbnail_url}}" width="120"/>
    </div>
    <div class="tile-caption">{{{message}}}</div>
</div>
{{/ifEquals}}
{{#ifEquals media "video"}}
<div class="ugc-tile-wrapper tile-{{media}}">
    <div class="tile-img">
        <div class="network-icon icon-{{source}}"></div>
        <img src="{{image_thumbnail_url}}" width="120"/>
    </div>
    <div class="tile-caption">{{{message}}}</div>
</div>
{{/ifEquals}}