{{#tile class="swiper-slide" }}
<div class="tile">
  {{#ifequals media "video"}}
      {{#unless options.tile_options.auto_play_video }}
        <div class="tile-loading"></div>
      {{/unless}}
    {{/ifequals}}
    <div class="icon-section hidden">
      <div class="top-section">
        {{#if carousel_children.length}}
            <div class="content-icon icon-carousel-grouping"></div>
        {{/if}}
        {{#ifequals media "video"}}
            <div class="content-icon icon-video"></div>
        {{/ifequals}}
      </div>
      <div class="bottom-section">
        <div class="network-icon icon-{{source}}"></div>
      </div>
    </div>
    <div class="tile-image-wrapper">
      {{#ifAutoPlayVideo media options.tile_options.auto_play_video }}
        {{playVideo this "100%" "100%"}}
      {{else}}
        <shopspot-icon tile-id={{id}}></shopspot-icon>
        {{#lazy image_thumbnail_url }}{{/lazy}}
      {{/ifAutoPlayVideo}}
      <div class="swiper-lazy-preloader"></div>
      <div class="description overlay">
        <div class="caption">
          <div class="caption-paragraph">{{message}}</div>
        </div>
      </div>
    </div>
</div>
{{/tile}}
