{{#tile class="swiper-slide" }}
<div class="tile">
  {{#ifequals media "video"}}
    {{#unless options.tile_options.auto_play_video }}
      <div class="tile-loading"></div>
    {{/unless}}
  {{/ifequals}}
  <div class="icon-section hidden">
    <div class="top-section">
      {{#each attrs}}
      {{#ifequals this "instagram.reel"}}
      <div class="content-icon icon-reel"></div>
      {{/ifequals}}
      {{#ifequals this "youtube.short"}}
      <div class="content-icon icon-youtube-short"></div>
      {{/ifequals}}
      {{/each}}
      {{#if tags_extended.length}}
      <div class="shopping-icon icon-products"></div>
      {{/if}}
    </div>
    <div class="center-section">
      {{#ifequals media "video"}}
        {{#unless options.tile_options.auto_play_video }}
          <div class="icon-play"></div>
        {{/unless}}
      {{/ifequals}}
    </div>
    <div class="bottom-section">
      <tile-tags tile-id="{{id}}" variant="dark" mode="swiper" context="carousel-inline"></tile-tags>
      <div class="network-icon icon-{{source}}"></div>
    </div>
  </div>
  <div class="tile-image-wrapper">
    {{#ifAutoPlayVideo media options.tile_options.auto_play_video }}
      {{playVideo this "100%" "100%"}}
    {{else}}
      <shopspot-icon tile-id={{id}}></shopspot-icon>
      {{#lazy image_thumbnail_url }}{{/lazy}}
    {{/ifAutoPlayVideo}}
    <div class="swiper-lazy-preloader"></div>
  </div>
</div>
{{/tile}}
