{{#tile class="swiper-slide" }}
<div class="tile">
  {{#ifequals media "image"}}
    <div class="tile-loading"></div>
  {{/ifequals}}
  <div class="icon-section hidden">
    <div class="top-section">
      {{#each attrs}}
      {{#ifequals this "instagram.reel"}}
      <div class="content-icon icon-reel"></div>
      {{/ifequals}}
      {{#ifequals this "youtube.short"}}
      <div class="content-icon icon-youtube-short"></div>
      {{/ifequals}}
      {{/each}}
      {{#if tags_extended.length}}
      <div class="shopping-icon icon-products"></div>
      {{/if}}
    </div>
    <div class="center-section">
      {{#ifequals media "video"}}
        {{#ifAutoPlayVideo media options.tile_options.auto_play_video }}
        {{else}}
          <div class="play-icon"></div>
        {{/ifAutoPlayVideo}}
      {{/ifequals}}
    </div>
    <div class="bottom-section">
      <ul class="tile-tags">
        {{#tags_extended}}
        <li class="tile-tag tag-inline"><a href="{{custom_url}}">{{tag}}</a></li>
        {{/tags_extended}}
      </ul>
      <div class="network-icon icon-{{source}}"></div>
      <span class="tile-timephrase">{{time_ago}}</span>
    </div>

    <shopspot-icon tile-id={{id}} />
  </div>
  <div class="tile-image">
    {{#ifAutoPlayVideo media options.tile_options.auto_play_video }}
      {{playVideo this "100%" "100%"}}
    {{else}}
      {{#lazy image_thumbnail_url "120"}}{{/lazy}}
    {{/ifAutoPlayVideo}}
    <div class="swiper-lazy-preloader"></div>
  </div>
</div>
{{/tile}}
