<div class="swiper-slide ugc-tile" data-id="{{id}}" style="display:none">
  <div class="tile">
      <ul class="tile-tags">
        {{#tags_extended}}
          <li class="tile-tag"><a href="{{custom_url}}">{{tag}}</a></li>
        {{/tags_extended}}
      </ul>
      <div class="network-icon icon-{{source}}"></div>
      {{#lazy image_thumbnail_url "120"}}{{/lazy}}
  </div>
  <div class="swiper-lazy-preloader"></div>
  <span class="tile-timephrase">{{time_ago}}</span>
  <shopspot-flyout tile-id="{{id}}"></shopspot-flyout>
  <shopspot-icon tile-id="{{id}}"></shopspot-icon>
{{/tile}}