{{#tile class="grid-item"}}
<div class="tile" data-background-image="{{image_thumbnail_url}}">
  <div class="tile-loading"></div>
  <div class="tile-content">
    {{#each attrs}}
      {{#ifequals this "instagram.reel"}}
        <div class="content-icon icon-reel"></div>
      {{/ifequals}}
    {{/each}}
    {{#if tags_extended.length}}
      <div class="shopping-icon icon-products"></div>
    {{/if}}
    <ul class="tile-tags">
      {{#tags_extended}}
      <li class="tile-tag tag-inline"><a href="{{custom_url}}">{{tag}}</a></li>
      {{/tags_extended}}
    </ul>
    <div class="network-icon icon-{{source}}"></div>
    {{#ifequals media "video"}}
    <div class="play-icon"></div>
    {{/ifequals}}
    <span class="tile-timephrase">{{time_ago}}</span>
    <shopspot-icon tile-id={{id}} />
  </div>
</div>
{{/tile}}