<div class="tile-{{media}}">
    <div class="network-icon icon-{{source}}"></div>
    <img src="{{image_thumbnail_url}}" width="120"/>
    <shopspot-flyout tile-id="{{id}}"></shopspot-flyout>
    <shopspot-icon tile-id="{{id}}"></shopspot-icon>
    <div class="tile-caption">{{{message}}}</div>
</div>